html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #000;
  font-family: 'Helvetica',sans-serif,arial,serif;
  font-size: 13px;
  line-height: 1.4;
  padding: 1em;
  margin: auto;
  max-width: 60em;
  background: #fefefe;
}
